<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>
            <%- include('./partials/aside.ejs') %>

                <main class="main">
                    <article class="main__hero">
                        <h1 class=".heading heading--large">
                            О Сайте
                        </h1>
                        <section>
                            <p>
                                Хз зачем я создал этот сайт
                            </p>
                            <p>
                                Хотите добавить цели пишите в личкею Скоро создам возможность самому добавлять
                            </p>
                            <p>
                                Есть идеи как улучшить проект пишите тоже в личку
                            </p>
                            <p>

                                Зачем здесь блог ?? Просто так. я по туториалу смотрел как сделать этот сайт.
                                Возможно скоро он пропадет
                            </p>
                            <p>
                                Мне лень 
                            </p>
                            <p>
                                Что нового?
                            </p>
                            <ul>
                                <li>
                                    Сайт адаптирован на телефон
                                </li>
                                <li>
                                    Добавились вкладки цели
                                </li>
                                <li>
                                    Перевел все на великий и могучий
                                </li>
                            </ul>
                            <p>
                                Что будет ?
                            </p>
                            <ul>
                                <li>
                                    Исправлю отпечатки
                                </li>
                                <li>
                                    Вкладки номинации
                                </li>
                                <li>
                                    Вкладки моменты
                                </li>
                                <li>
                                    Разберюсь что поставить на главную страницу
                                </li>


                            </ul>

                        </section>
                    </article>
                </main>
    </body>

</html>