<!DOCTYPE html>
<html lang="en">

<style>
    .login {
        flex-wrap: wrap;
    }

    .login section {
        flex: 1 1 500px;
    }

    @media screen and (max-width: 500px) {
        body .main {
            padding: 10px;
            margin: 0
        }

        .login_banner {
            display: none;
        }
    }
</style>

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>



            <main class="main">
                <article class="hero hero--login">
                    <h1 class=".heading heading--large">
                        Log in
                    </h1>
                    <!-- <a class="anchor anchor--opacity" href="/signup">
                        <h2 class=".heading heading--large">
                            Sign up
                        </h2>
                    </a> -->

                </article>

                <article class="login">
                    <section class="login__fields">
                        <form id="login" class="form form--login">

                            <div>
                                <label for="username">Username</label>
                                <input name="username" type="text">
                                <span id="username-err" class="error"> </span>
                            </div>
                            <div>
                                <div>
                                    <label for="password">Password</label>
                                    <input name="password" type="password">
                                    <span id="password-err" class="error"> </span>

                                </div>

                                <div>
                                    <button class="btn btn--dark-primary"> Log in </button>
                                </div>

                            </div>
                        </form>

                    </section>

                    <section class="login_banner">
                        <img alt="デザイン事務所ココドル｜大阪｜SEA TO SUMMITびわ湖東近江のTシャツ#design #graphicdesign #graphicdesigner #art #logo #logodesign #illustrator #illustration #event #cocodoru #デザイン #Tシャツ #イラスト #アート #線画"
                            class="img--responsive" importance="auto" loading="auto"
                            src="https://i.pinimg.com/564x/64/fe/86/64fe86a2488ed30f1ace46e95bfc8703.jpg">

                    </section>

                </article>


            </main>
            <script>
                const form = document.getElementById('login');

                const emailError = document.getElementById('email-err');
                const passwordError = document.getElementById('password-err');


                form.addEventListener('submit', async (e) => {
                    e.preventDefault();

                    const username = form.username.value;
                    const password = form.password.value;


                    try {
                        const res = await fetch('/login', {
                            method: 'POST',
                            body: JSON.stringify({ username, password }),
                            headers: { 'Content-Type': 'application/json' }
                        });
                        const data = await res.json();
                        console.log(data);
                        if (data.errors) {
                            data.errors.username ? emailError.classList.add('error--open') : emailError.classList.remove('error--open');
                            data.errors.password ? passwordError.classList.add('error--open') : passwordError.classList.remove('error--open');
                            emailError.textContent = data.errors.username;
                            passwordError.textContent = data.errors.password;
                        }
                        if (data.user) {
                            document.location.href = '/';
                        }

                    }
                    catch (err) {
                        console.log('!', err);
                    }
                })
            </script>
    </body>

</html>