<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- 
        include('./partials/header.ejs')
    %>



    <main class="main profile">
        <aside>
            <div class="avatar">
                <img class="avatar responsive"
                    src="https://oecdenvironmentfocusblog.files.wordpress.com/2020/06/wed-blog-shutterstock_1703194387_low_nwm.jpg"
                    alt="">
            </div>

        </aside>
        <article>
            <h1 class="heading heading--large">Profile</h1>

        </article>
    </main>
    <%- 
    include('./partials/footer.ejs')
    %>
</body>

</html>