* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: rgba(255, 255, 255, 0.60);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    background-color: hsla(0, 0%, 100%, 0.16);
}

.header-top__logo a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.header-top__logo h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.87);
}

.header-top__navbar {
    display: flex;
    align-items: center;
}

.header-top__navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-top__navbar li a {
    padding: 10px;
    font-size: 18px;
    color: #7D7A9E;;
    text-decoration: none;
}

.header-top__navbar li a:hover {
    padding: 10px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.76);
    text-decoration: none;
}

.header-top__navbar li a:active {
    padding: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.header-top__navbar li .active {
    padding: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.header-top__navbar__auth a{
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
    padding: 10px;
    font-size: 18px;
    fill: #7D7A9E;
    color: #7D7A9E;
    text-decoration: none;
}

.header-top__navbar__auth a:hover{
    color: #101014;
}

.header-top__navbar__auth svg{
    transition: all 0.3s ease-out;
}

.header-top__navbar__auth svg:hover{
    fill: #101014;
}

.heading {
    font-weight: 300;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.87);
}

.heading--large {
    font-size: 4rem;
}

.heading--regular{
    font-size: 2rem;
}

.heading--normal{
    margin: 0;
    font-size: 60px;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 72px;

}

.footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    color: #909090;
    border-top: 1px solid #e6e6e6;
    width: 100%;
}

.form div {
    margin-bottom: 20px;
}

.form div label {
    margin-bottom: 10px;
    display: block;
}


.form input {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    color: #ccc;
}

.form__input-box{

}

.form input:focus {
    border: 1px solid rgb(129, 129, 129);
}

.form textarea {
    border: 1px solid #ccc;
    display: block;
    border-radius: 5px;
    width: 100%;
    resize: none;
    font-size: 16px;
    outline: none;
}

.login__fields{
    margin-right: 20px;
}

.form textarea:focus {
    border: 1px solid rgb(129, 129, 129);
}

.btn{
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
}



.btn--primary{
    border-radius: 5px;
    border: 1px solid #222;
    color: white;
    background-color: #222;
    transition: all 0.2s ease-out;
}

.btn--primary:hover{
    color: #222;
    background-color: #fff;
}

.btn--outline{
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.74);
    color: #000;
    background: none;
    transition: all 0.2s ease-out;
}

.btn--dark-primary{
    background-color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgba(255, 255, 255, 0.87);
    border-radius: 5px;
}

.btn--outline:hover{
    color: #fff;
    border-color: #222;
    background-color: #222;
}

a{
    color: #222;
}


.list li a {
    color: black;
    display: flex;
    align-items: center;
}

.list li a svg {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.header-top__logo a {
    display: flex;
    align-items: center;
}

.header-top__logo a svg {
    width: 32px;
    margin-right: 5px;
}

.delete {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;
}

.delete:hover{
    opacity: 0.6;
}


.login {
    display: flex;
}
.login > section {
    flex: 1 1 300px;
}

.anchor--opacity{

    text-decoration: none;
}

.anchor--opacity *{
    opacity: 0.7;
    transition: 0.5s opacity ease-out;
}

.anchor--opacity:hover *{
    opacity: 1;
}

.hero--login{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img--responsive{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cursiv{
    
}

.login__alternative{
    position: relative;
    margin-bottom: 20px;
}

.login__alternative i {
    position: absolute;
    background: #fff;
    padding: 0 15px;
}

.absolute {
    position: absolute;
}

.absolute--align-center{
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);

}
.login__auth-via{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;

}

.error {
    font-weight: 600;
    display: block;
    background: #fff;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    padding: 0 10px;
    transition: all 0.3s ease-out;
    max-height: 0;
}

.error--open {
    max-height: unset;
    background: #393939;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    padding: 5px 10px;
}

.responsive{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile{
    display: flex;
}

.profile aside {
    flex: 2 1 300px;
    padding-top: 20px;
}

.avatar{
    border-radius: 5px;
    
}

.profile article {
    padding-top: 20px;

    flex: 10 1 300px;
}


.icon{
    width: 24px;
}

.border-bottom{
    border-bottom: 1px solid #ccc;
}