<!DOCTYPE html>
<html lang="en">


<style>
    article {
        padding: 40px 0px;
    }

    .hero {
        display: flex;
        margin-top: 56px;
    }

    .hero-main__head {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .hero-main__icon {
        width: 50px;
        margin-right: 24px;
    }

    .list {
        color: white;
        padding: 0;
        margin: 0;
        list-style: none;

    }

    .hero-links {
        padding: 26px;
        flex: 1;
    }

    .hero-main {
        flex: 2;
    }

    .list li {
        margin-bottom: 8px;
    }


    .list a {
        font-size: 20px;
    }

    a {
        color: inherit !important;
    }

    .heading--lvl4 {
        text-transform: uppercase;
        font-size: 14px;
        font-family: monospace;
    }

    .features {
        display: flex;
    }

    @media screen and (max-width: 500px) {
        .features {
            flex-direction: column;
        }
    }
</style>

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <%- include('../partials/aside.ejs') %>
                <main class="main">
                    <article class="hero border-bottom">
                        <section class="hero-main">
                            <div class="hero-main__head">
                                <svg class="hero-main__icon" id="content" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 192 192">
                                    <title>ic_icons_192px_light</title>
                                    <circle cx="96" cy="96" r="96" fill="#2979ff" />
                                    <rect width="192" height="192" transform="translate(192 192) rotate(180)"
                                        fill="none" />
                                    <circle cx="96" cy="96" r="64" fill="#40c4ff" />
                                    <circle cx="96" cy="96" r="32" fill="#fff" />
                                </svg>

                                <h1 class=".heading heading--normal">
                                    Burnoe 
                                </h1>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias corrupti error odio
                                    dicta? Impedit, modi!
                                </p>
                            </div>

                        </section>
                        <section class="hero-links">
                            <h2 class="heading--lvl4">
                                related content
                            </h2>

                            <ul class="list">
                                <li>
                                    <a href="/burnoe/2020">2020 August report</a>
                                </li>
                                <li>
                                    <a href="/burnoe/2019">2019 August report</a>
                                </li>
                                <li>
                                    <a href="/burnoe/2018">2018 August report</a>
                                </li>
                                <li>
                                    <a href="/burnoe/2017">2017 August report</a>
                                </li>
                            </ul>
                        </section>
                        <p>

                        </p>
                    </article>

                    <article class="features">
                        <section>
                            <h3>Goals</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sapiente itaque impedit
                                quod, velit asperiores amet nesciunt est hic praesentium.
                            </p>
                        </section>
                        <section>
                            <h3>Nonimines</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sapiente itaque impedit
                                quod, velit asperiores amet nesciunt est hic praesentium.
                            </p>
                        </section>
                        <section>
                            <h3>Momets</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sapiente itaque impedit
                                quod, velit asperiores amet nesciunt est hic praesentium.
                            </p>
                        </section>
                    </article>

                    <article>
                        <iframe scrolling="no" allowfullscreen="" gesture="media" allow="autoplay; encrypted-media"
                            src="https://yastatic.net/yandex-video-player-iframe-api-bundles/1.0-5946/frame.html#post_message_config=true&amp;vsid=7dab7a075f15e6f7165ec2610fbac920461bffd27642xWEBx5946x1610008739&amp;from=disk"
                            style="width: 100%; height: 100%; border-width: 0px; display: block;"></iframe>
                    </article>

                </main>
                <%- include('../partials/footer.ejs') %>
    </body>

</html>