<!DOCTYPE html>
<html lang="en">


<style>
    article {
        padding: 40px 0px;
    }

    .hero {
        display: flex;
        margin-top: 56px;
    }

    .hero-main__head {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    .hero-main__icon {
        width: 50px;
        margin-right: 24px;
    }

    .list {
        color: white;
        padding: 0;
        margin: 0;
        list-style: none;

    }

    .hero-links {
        padding: 26px;
        flex: 1;
    }

    .hero-main {
        flex: 2;
    }

    .list li {
        margin-bottom: 8px;
    }


    .list a {
        font-size: 20px;
    }

    a {
        color: inherit !important;
    }

    .heading--lvl4 {
        text-transform: uppercase;
        font-size: 14px;
        font-family: monospace;
    }

    .features {
        display: flex;
    }

    @media screen and (max-width: 500px) {
        .features {
            flex-direction: column;
        }
    }

    .hero {
        display: flex;
        flex-wrap: wrap;
    }

    .hero .hero-links {
        flex: 3 1 700px;
    }

    .hero .hero-links {
        flex: 1 1 100px;
    }

    .features section {
        margin-right: 50px;
        width: 50%;
    }

    .features section:last-child {
        margin-right: 0px;
    }

    @media screen and (max-width: 500px) {
        .hero {
            margin-top: 0;
        }
    }
</style>

<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/header.ejs') %>
            <%- include('../partials/aside.ejs') %>
                <main class="main">
                    <article class="hero border-bottom">
                        <section class="hero-main">
                            <div class="hero-main__head">
                                <svg class="hero-main__icon" id="content" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 192 192">
                                    <title>ic_icons_192px_light</title>
                                    <circle cx="96" cy="96" r="96" fill="#2979ff" />
                                    <rect width="192" height="192" transform="translate(192 192) rotate(180)"
                                        fill="none" />
                                    <circle cx="96" cy="96" r="64" fill="#40c4ff" />
                                    <circle cx="96" cy="96" r="32" fill="#fff" />
                                </svg>

                                <h1 class=".heading heading--normal">
                                    Burnoe
                                </h1>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias corrupti error odio
                                    dicta? Impedit, modi!
                                </p>
                            </div>

                        </section>
                        <section class="hero-links">
                            <h2 class="heading--lvl4 medium-color">
                                related content
                            </h2>

                            <ul class="list">
                                <li>
                                    <a class="disabled-color" href="/burnoe/2020">2020 Август отчет</a>
                                </li>
                                <li>
                                    <a class="disabled-color" href="/burnoe/2019">2019 Август отчет</a>
                                </li>
                                <li>
                                    <a class="disabled-color" href="/burnoe/2018">2018 Август отчет</a>
                                </li>
                                <li>
                                    <a class="disabled-color" href="/burnoe/2017">2017 Август отчет</a>
                                </li>
                            </ul>
                        </section>
                    </article>

                    <article class="features">
                        <section>
                            <h3><a class="primary-color" href="/burnoe/goals"> Цели </a> </h3>
                            <p>
                                Наши цели на будещий год
                            </p>
                        </section>
                        <section class="disabled-color">
                            <h3>Номинации</h3>
                            <p>
                                Не паникуйте скоро все доделаю, но это не точно!
                            </p>
                        </section>
                        <section class="disabled-color">
                            <h3>Моменты</h3>
                            <p>
                                Не паникуйте скоро все доделаю, но это не точно!
                            </p>
                        </section>
                    </article>

                </main>
    </body>

</html>